/* General Page Layout */
html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Disable default scroll */
}


body {
  font-family: "Roboto", Arial, sans-serif;
  background: url(../assets/images/background2.jpg) no-repeat center center fixed;
  background-size: cover;
  backdrop-filter: blur(5px);
  color: #e2e8f0;
}
 
/* Navigation Bar */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.9);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

nav h1 {
  margin: 0;
  
}

nav h1 a { 
  text-decoration: none;
  font-size: 26px;
  font-weight: bold;
  color: #10abb2;
}

nav h1 a:hover {
  color: #0e948f;
}
.container {
  margin-top: 90px;
  height: calc(100vh - 90px);
  overflow-y: auto;
  padding: 20px;
}

/* Exam Selection Container */
.exam-selection {
  background: rgba(0, 0, 0, 0.9);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;  
  border-radius: 8px;
}

/* Exam Heading */
.exam-selection h2 {
  text-align: center;
  color: #10abb2;
  font-size: 22px;
  font-weight: 600;
}


/* Exam Title */
.exam-selection h3 {
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 6px;
  color: #fff;
}

/* Table Styling */
table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  color: #e2e8f0;
}

thead tr {
  background: rgba(16, 171, 178, 0.1);
  border-bottom: 2px solid #10abb2;
  border-top: 2px solid #10abb2;

}

td {
  padding: 12px;
  text-align: center;
}

td p {
  margin: 0;
  padding: 0.5rem;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 4px;
}

/* Submit Button */
.select-btn {
  padding: 0.5rem;
  /* background: linear-gradient(135deg, #007bff, #0056b3); */
  background: linear-gradient(135deg, #10abb2, #0e948f);
  border: none;
  border-radius: 6px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.select-btn:hover {
  /* background: linear-gradient(135deg, #0056b3, #003d80); */
  background: linear-gradient(135deg, #0e948f, #0d7a7a);
}

.select-btn:focus {
  box-shadow: 0 0 10px rgba(0, 87, 179, 0.6);
  transform: translateY(3px);
}

.container::-webkit-scrollbar {
  width: 6px;
}

.container::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 3px;
}

/* Responsive Adjustments */
@media (max-width: 768px) {

  .exam-selection {
    overflow-x: auto;
    margin: 0 auto;
    padding: 15px;
  }

  table {
    min-width: 600px; /* Minimum width to maintain table structure */
    font-size: 14px;
  }
  .container {
    padding: 1rem;
  }

  td {
    padding: 8px;
    white-space: nowrap; /* Prevent text wrapping */
  }
  
  .select-btn {
    padding: 8px 12px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  nav {
    padding: 1rem;
  }

  nav h1 a {
    font-size: 1.2rem;
  }

  .select-btn {
    padding: 0.5rem 0.7rem;
    font-size: 0.7rem;
  }
  table {
    min-width: 100%; /* Allow horizontal scrolling */
  }
  
  td p {
    padding: 4px;
    font-size: 13px;
  }
  
  .exam-selection h2 {
    font-size: 1.2rem;
    padding: 0 10px;
  }

}
