body {
  font-family: Arial, sans-serif;
  padding: 20px 60px 20px 60px;
  margin: 0;
  background-color: #f8f9fa;
}
h2 {
  text-align: center;
  text-decoration: underline;
  padding: 25px;
}
.results {
  margin: 0px 0px 30px 0px;
  border: 1px solid #000;
  padding: 40px 60px 40px 60px;
  border-radius: 8px;
  background-color: #fff;   

}
.correct {
  color: green;
}
.wrong {
  color: red;
}
.question {
  margin-bottom: 2px;
  font-weight: bold;
}
.answer {
  margin-bottom: 10px;
  color: rgb(99, 90, 90);
}

button {
  position: fixed;
  bottom: 3%;
  left: 2%;
  padding: 12px 24px;
  background-color: #007bff; /* A nice blue color */
  color: #ffffff; /* White text */
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
  background-color: #0056b3; /* Darker blue on hover */
  transform: translateY(-2px); /* Subtle lift effect */
}

button:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.6); /* Blue glow */
}
@page {
  size: A4;
  margin-top: 0mm;
  counter-increment: page;
  padding: 25px;
}

@media print {
  body {
    font-size: 12px;
    padding: 0px;
    margin: 0px;
  }
  .results {
    border-radius: 0px;
    padding: 20px;
    margin: 0px;
  }
  button {
    display: none;
  }
}
  @media (max-width: 480px) {
    .results {
      padding-top: 40px;
      padding-bottom: 50px;
    }
    
}
